body{
    background:#f5f5f5;
}

.container-box{
    background:white;
    padding:20px;
    border-radius:10px;
    margin-top:40px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

img{
    border-radius:5px;
}